<template>
  <div id="app" class="container">
    <h3>Bootstrap Datetimepicker (eonosdan) Sample</h3>
    <hr/>
    <div class="row">
      <div class="col-md-4">
        <label>Select Date</label>
        <vue-datetimepicker></vue-datetimepicker>
      </div>
    </div>
  </div>
</template>

<script>
    import vuedatetimepicker from './vue-datepicker.vue'

    export default {
        name: 'app',
        data () {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        },
        components: {
            'vue-datetimepicker': vuedatetimepicker
        }
    }
</script>

<style>

</style>