<template>
<div class='input-group date'>
    <input type='text' class="form-control" />
    <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
</div>
</template>

<script>
    /**
     * @See https://vuejs.org/v2/examples/select2.html
     * This shows how to wrap a jquery plugin using vue
     * /
     */
    var $ = window.jQuery = require('jquery')
    import moment from 'moment'
    import eonosdandatetimepicker from 'eonasdan-bootstrap-datetimepicker'

    export default {
        name: 'vue-datetimepicker',
        data () {
            return {
                value: ''
            }
        },
        watch: {
            options: function (options) {
                // update options
                $(this.$el).datetimepicker({ data: options })
            }
        },
        mounted: function () {
            var vm = this
            var datepicker = $(this.$el).datetimepicker({
                format: 'DD/MM/YYYY'
            })
            datepicker.on('dp.change', function (event) {
                vm.value = event.date
                vm.$emit('change', vm.value)
            })
        },
        destroyed: function () {
            $(this.$el).off().datetimepicker('destroy')
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>